{% extends 'inventory/base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">Products</h1>

<div class="mb-4">
    <a href="{% url 'inventory:product_create' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Add New Product
    </a>
</div>

<table class="min-w-full bg-white text-center">
    <thead>
        <tr>
            <th class="py-2 px-4 border-b">Producto</th>
            <th class="py-2 px-4 border-b">Sobres por caja</th>
            <th class="py-2 px-4 border-b">Precio distribuidor</th>
            <th class="py-2 px-4 border-b">Precio al público</th>
            <th class="py-2 px-4 border-b">Cantidad</th>
            <th class="py-2 px-4 border-b">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td class="py-2 px-4 border-b">{{ product.name }}</td>
            <td class="py-2 px-4 border-b">{{ product.units_per_box }}</td>
            <td class="py-2 px-4 border-b">${{ product.distributor_price }}</td>
            <td class="py-2 px-4 border-b">${{ product.public_price }}</td>
            <td class="py-2 px-4 border-b">{{ product.quantity }}</td>
            <td class="py-2 px-4 border-b">
                <a href="{% url 'inventory:product_update' product.id %}" class="text-blue-500 hover:text-blue-700">Edit</a>
                <a href="{% url 'inventory:product_delete' product.id %}" class="text-red-500 hover:text-red-700 ml-2">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="py-2 px-4 border-b text-center">No products available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
